.geom-create-container {
  display: inline-block;
  box-shadow: none;
  background: white;
}

.input-file-node {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.input-sketch-node {
  float: right;
}