/* import the required JSAPI css */
@import url('https://js.arcgis.com/4.12/esri/css/main.css');

.esri-view {
  height: calc(100vh - 66px);
}

.json-result,
.warning-message {
  background-color: white;
  padding: 6px;
  max-width: 400px;
  overflow: auto;
}

.hidden {
  display: none;
}
